html 
   { height: 100%; }
body 
   {
   margin: 0; 
   height: 100%; 
   background: url(bg.jpg); 
   background-size: cover; 
   background-repeat:no-repeat;
   background-attachment:fixed;
   text-align: center;
   } 
.divblock {
  margin: 0 auto;
  width: 900px;
  }

h1 {
  color: white;
  font-family: 'COMIC SANS MS', sans-serif;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
 
}

.imgCenter {
    text-align:center;
}
            
.fig {
    float: left; 
    padding-left: 10px; 
    padding-right: 20px;
    padding-top: 22px;
}

.fig2 {
    float: right; 
    padding-left: 20px; 
    padding-right: 10px;
    padding-bottom: 0px; 
    padding-top: 15px;
}

h2 {
  color: black;
  font-family: 'gabriola', serif ;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: justify;
  padding-right: 15px;
  padding-left: 10px;
  }

hr {
padding: 0;
border: none;
height: 1px;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
color: #333;
text-align: center;
}

.texthead {
				border-top: solid 1px rgba(255, 255, 255, 0.5);
				color: rgba(255, 255, 255, 0.75);
				text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.1875);
				font-size: 2em;
				text-transform: uppercase;
				letter-spacing: 3px;
				text-align: center;
				padding: 0;
				margin-top: 0.35em;
			}
			
			
.imgCenter {
    text-align:center;
    
}

.img1 {
        padding-right: 10px;
        border-top-left-radius: 8em;
        border-bottom-right-radius: 8em;
}

