html 
   { height: 100%; }
body 
   {
   margin: 0; 
   height: 100%; 
   background: url(bg.jpg); 
   background-size: cover; 
   background-repeat:no-repeat;
   background-attachment:fixed;
   } 

h1 {
  color: #E4BB97;
  background-color: #AA8EB5;
  font-family: 'COMIC SANS MS', sans-serif;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: AliceBlue;
  line-height: 1em;
  text-align: left;
  width: 100%;
}

.byline {
  color: rgba(255, 255, 255, 0.5);
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
}

.caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.65);
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
}

.content {
  padding: 40px;
}

.image {
  background-image: url("https://xage.ru/media/posts/2014/3/19/superman-with-gopro.jpg");
  background-size: cover;
  background-position: center;
  
}

.writer-img {
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
  float: left;
  width: 50px;
}